<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.android.teacher">

    <uses-permission android:name="com.aware.READ_CONTEXT_DATA" />
    <uses-permission android:name="com.aware.WRITE_CONTEXT_DATA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNETsd" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon, android:theme">
        <activity android:name=".AgreementFormActivity" />
        <activity android:name=".RegisterFormActivity" />
        <activity
            android:name=".HomeActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SurveyDataActivity" />
        <activity
            android:name=".SensorDataActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".RealTimeStreamingActivity"
            android:theme="@style/AppTheme" />

        <service android:name=".EmpaticaService" />

        <adapter
            android:name=".SimpleFragmentPagerAdapter"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".MainSensorDataActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".GraphActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".InitialActivity" />
        <activity android:name=".EmpaticaActivity" />
        <activity android:name=".HelpActivity" />
        <activity
            android:name="com.dropbox.client2.android.AuthActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>

                <!-- Change this to be db- followed by your app key -->
                <data android:scheme="db-43f759ui6587zrc" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".DatabaseTestActivity" />
        <activity android:name=".PhotoGrid.PhotoGridActivity" />

        <receiver android:name=".PhotoGrid.GridReceiver" />

        <activity android:name=".ViewRegistrationFormActivity" />
        <activity android:name=".EditRegistrationActivity" />
        <activity android:name=".ChooseAccountActivity" />
        <activity android:name=".AwareTest.TestActivity" />
        <activity android:name=".StudentSurveyDataActivity"></activity>
    </application>

</manifest>